<div class="content-list">
<h2>List Book</h2>
<div class="book-list">
  <div *ngIf="books.length === 0">The Book List Is Empty</div>
  <div class="book" *ngFor="let book of books">
    <div class="book-title">{{ book.title }}</div>
    <div class="book-author">{{ book.author }}</div>
    <div class="book-price">{{ book.price }}</div>
    <div class="book-description">{{ book.description }}</div>


    <div class="book-actions">

       <button (click)="editBook(book.id!)">Edit</button>
       <button (click)="deleteBook(book.id!)">Delete</button>


    </div>
  </div>
</div>
</div>
